body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;

  margin: 0;
  padding: 0;
}

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
  position: fixed;
  top: 0;
  width: 100%;
  position: relative;
  clear: both;
}

#navbar > li {
  float: left;
}

#navbar > li > a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar > li > a:hover {
  background-color: #111;
  transition: 0.3s;
}

.active {
  background-color: #b81e1e;
}

.centered {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

#jumbotron {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  clear: both;
  background-image: url(../img/bg1.jpg);
}

#greeting-div {
  font-size: 200%;
}

#bio-avatar {
  border: 5px solid #b81e1e;
  border-radius: 50%;
}

.social-media-logo {
  margin: 0 5px;
  color: #000;
  text-decoration: none;
}

.social-media-logo:hover {
  color: #b81e1e;
  transition: 0.3s;
}

#jumbo-info-wrapper {
  display: inline-block;
  border-radius: 10px;
}

#get-started-div {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  clear: both;
  background-color: #000;
}

#get-started-content-wrapper {
  background-color: rgba(51, 51, 51, 0.2);
  color: #fff;
  padding: 20px;
  transition: 0.3s;
}

#get-started-content-wrapper:hover {
  background-color: rgba(51, 51, 51, 0.3);
  transition: 0.5s;
}

#get-started-div > #get-started-content-wrapper > button {
  background-color: #b81e1e;
  font-size: 1.5rem;
  border: 2px solid #fff;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

#get-started-div > #get-started-content-wrapper > button:hover {
  background-color: #000;
  color: #fff;
  border: 2px solid #b81e1e;
  transition: 0.3s;
}
