@media only screen and (max-width: 600px) {

  #navbar > #menu-btn-li {
    display: block;
    float: none;
    width: 100%;
  }

  #navbar > .nav-item {
    display: none;
  }

  #jumbotron {
    margin-top: 1rem;
  }

  .show-nav-item {
    display: block;
    float: none;
    width: 100%;
  }

  .hide-nav-item {
    display: none;
  }

}
