body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #000;
}

.container {
  position: absolute;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.row {
  padding-top: 20px;
  padding-bottom: 20px;
}

#play-btn {
  width: 10rem;
  font-size: 1.2rem;
  padding: 0.5rem;
  background: #56a79a;
  color: #fff;
  border: 0;
}

#play-btn:hover {
  background: #17554b;
}

.circle {
  width: 70px;
  height: 70px;
  margin: 10px;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.3;
}

.circle:nth-child(1) {
  background: red;
}
.circle:nth-child(2) {
  background: orange;
}
.circle:nth-child(3) {
  background: yellow;
}
.circle:nth-child(4) {
  background: green;
}
.circle:nth-child(5) {
  background: skyblue;
}
.circle:nth-child(6) {
  background: blue;
}
.circle:nth-child(7) {
  background: purple;
}

@keyframes lighten {
  0% {
    opacity: 0.3;
  }
  15% {
    opacity: 0.6;
  }
  30% {
    opacity: 0.8;
  }
  45% {
    opacity: 1;
  }
  60% {
    opacity: 0.8;
  }
  75% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.3;
  }
}
