@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Sirin+Stencil&display=swap");

:root {
  --color-dark: #333;
  --color-darker: #161616;
  --color-primary: #7a2589;
  --color-secondary: #eaeaea;
  --color-gray: #979797;
  --font-display: "Sirin Stencil", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.title {
  margin-bottom: 60px;
  color: var(--color-secondary);
  font-weight: 400;
}

.title span {
  color: var(--color-primary);
  font-weight: 600;
}

body {
  width: 100%;
  min-height: 100vh;
  padding: 40px 5%;
  background-color: var(--color-dark);
}

.contact-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 80px;
  margin-bottom: 80px;
}

.contact-card {
  width: 100%;
  height: 80px;
  border-radius: 50px;
  padding: 0 8px;
  margin-bottom: 16px;
  background-color: var(--color-darker);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.contact-card span {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-right: 16px;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-secondary);
  background-color: var(--color-dark);
  transition: 0.2s ease-in;
}

.contact-card span img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.contact-card a {
  position: relative;
  z-index: 2;
  color: var(--color-gray);
  font-size: 18px;
  transition: 0.2s ease-in;
  text-decoration: none;
}

.contact-card::after {
  content: "";
  position: absolute;
  top: -35px;
  right: -35px;
  width: 0;
  height: 0;
  transform: rotate(30deg);
  -webkit-box-shadow: -2px 0px 10px 0px #000;
  -moz-box-shadow: -2px 0px 10px 0px #000;
  box-shadow: -2px 0px 10px 0px #000;
  transition: 0.2s ease-out;
}

.contact-card.website:hover::after,
.contact-card.github:hover::after,
.contact-card.linkedin:hover::after,
.contact-card.twitter:hover::after,
.contact-card.instagram:hover::after,
.contact-card.facebook:hover::after,
.contact-card.gmail:hover::after {
  width: 200px;
  height: 200px;
}

.contact-card.website:hover::after {
  background-color: var(--color-primary);
}
.contact-card.github:hover::after {
  background-color: #24292e;
}
.contact-card.linkedin:hover::after {
  background-color: #0a66c2;
}
.contact-card.twitter:hover::after {
  background-color: #1da1f2;
}
.contact-card.instagram:hover::after {
  background-color: #cb4270;
}
.contact-card.facebook:hover::after {
  background-color: #3776c9;
}
.contact-card.gmail:hover::after {
  background-color: #c5221f;
}

.contact-card:hover span {
  margin-right: 24px;
}

.contact-card:hover a {
  color: var(--color-secondary);
}

.contact-card.website:hover span {
  background-color: var(--color-primary);
}

.contact-card.github:hover span {
  background-color: #24292e;
}

.contact-card.linkedin:hover span {
  background-color: #0a66c2;
}

.contact-card.twitter:hover span {
  background-color: #1da1f2;
}

.contact-card.instagram:hover span {
  background-color: #cb4270;
}

.contact-card.facebook:hover span {
  background-color: #3776c9;
}

.contact-card.gmail:hover span {
  background-color: #c5221f;
}

/* Media Queries */
@media (max-width: 1024px) {
  .contact-cards-container {
    column-gap: 10px;
  }

  .contact-card.gmail a {
    font-size: 14px;
  }

  .contact-card:hover span {
    margin-right: 20px;
  }
}

/* Animations */
@keyframes contactCard {
  0%,
  100% {
    width: 180px;
    height: 180px;
  }
  50% {
    width: 170px;
    height: 180px;
  }
}

@media (max-width: 768px) {
  .contact-cards-container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .contact-card {
    height: 64px;
    margin-bottom: 10px;
  }

  .contact-card span {
    width: 48px;
    height: 48px;
    font-size: 24px;
    margin-right: 20px;
  }

  .contact-card span img {
    width: 26px;
    height: 26px;
  }

  .contact-card a {
    font-size: 14px;
    color: var(--color-secondary);
  }

  .contact-card.website span {
    background-color: var(--color-primary);
  }

  .contact-card.github span {
    background-color: #24292e;
  }

  .contact-card.linkedin span {
    background-color: #0a66c2;
  }

  .contact-card.twitter span {
    background-color: #1da1f2;
  }

  .contact-card.instagram span {
    background-color: #cb4270;
  }

  .contact-card.facebook span {
    background-color: #3776c9;
  }

  .contact-card.gmail span {
    background-color: #c5221f;
  }

  .contact-card::after,
  .contact-card.website:hover::after,
  .contact-card.github:hover::after,
  .contact-card.linkedin:hover::after,
  .contact-card.twitter:hover::after,
  .contact-card.instagram:hover::after,
  .contact-card.facebook:hover::after,
  .contact-card.gmail:hover::after {
    width: 180px;
    height: 180px;
    animation: contactCard 1s infinite;
  }

  .contact-card.website::after {
    background-color: var(--color-primary);
  }
  .contact-card.github::after {
    background-color: #24292e;
  }
  .contact-card.linkedin::after {
    background-color: #0a66c2;
  }
  .contact-card.twitter::after {
    background-color: #1da1f2;
  }
  .contact-card.instagram::after {
    background-color: #cb4270;
  }
  .contact-card.facebook::after {
    background-color: #3776c9;
  }
  .contact-card.gmail::after {
    background-color: #c5221f;
  }
}
