body {
  font-family: "Titillium Web", sans-serif;
  background: #141414;
  color: #f8f9fa;
}

a {
  color: #f8f9fa;
}

a:hover {
  color: #f8f9fa;
  text-decoration: none;
}

.txt-type > .txt {
  border-right: 0.2rem solid #f8f9fa9c;
}

#about h1 {
  margin-bottom: 40px;
}

#avatar {
  background: url("img/avatar.jpg") no-repeat center center / cover;
}

#projects h1 {
  margin-bottom: 40px;
}

.prj img {
  opacity: 0.5;
}

.prj img:hover {
  opacity: 1;
  transition: 0.3s;
}

/* Footer */
#footer {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #f8f9fa;
  color: #000;
}

/* Media Queries */
@media (max-width: 800px) {
  #greeting-code {
    font-size: 3rem;
  }

  #greeting {
    font-size: 2rem;
  }
}
