@import url("https://fonts.googleapis.com/css?family=Raleway");

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

body {
  background-image: url("bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #999;
}

a {
  text-decoration: none;
  color: skyblue;
}

#todo-wrapper {
  height: 100%;
  width: 100%;
  padding: 20px 0 20px 0;
}

.container {
  margin: 0 auto;
  text-align: center;
}

.title {
  margin: 20px 0 20px 0;
}

.form-group {
  display: block;
}

.style-input {
  width: 300px;
  font-size: 1.2rem;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid black;
  background: none;
}

.style-input:focus {
  outline: none;
}

#todo-form input:nth-child(even) {
  width: 150px;
  background: none;
  border: 2px solid black;
}

.style-table {
  width: 70%;
  text-align: left;
}

.btn-danger {
  color: #6e1111;
}

.dlt-btn-td {
  text-align: right;
}

.alert {
  text-align: center;
  margin: 0 auto;
  width: 200px;
  height: 30px;
  color: #fff;
  line-height: 30px;
}

.alert-danger {
  background: rgba(124, 9, 15, 0.7);
}

.alert-success {
  background: rgba(16, 122, 33, 0.7);
}
